.glassEffect{
    background-image: linear-gradient(to bottom right, rgb(0 0 0 / 72%), rgb(2 2 2 / 72%));
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(0px);
    box-shadow: 6px 3px 12px 1px rgb(4 4 4 / 72%);

}

.glass1{
    backdrop-filter: blur(10px);
    background-color: #ffffffb8;
}
.hoverer{
    width: 130px;
    background: #fff;
    padding: 15px;
    margin: 15px;
}
.hoverer:hover{
    transform: scale(1.1);
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
}
.cscroller::-webkit-scrollbar {
    height: 4px;              /* height of horizontal scrollbar ← You're missing this */
    width: 4px;               /* width of vertical scrollbar */
    border: 1px solid #d5d5d5;
  }